.create-faction {
    padding: 0 0 15px 10px;
}

.create-faction input {
    margin: 0 10px 0 0;
}

.faction-upgrade-title {
    display: flex;
    width: 100%;
    /*background: #A8C5FF;*/
}

.faction-upgrade-title h1 {
    max-width: 300px;
    margin-left: 10px;
}
.faction-upgrade-title button {
    width: 50px;
    height: 30px;
    margin: 25px;
}

.existing-factions{
    display: block;
}

.faction-wrapper {
    width: 400px;
    margin: 5px;
    display: inline-block;
}

.view-factions h2 {
    padding-left: 10px;
}

.faction-header {
    height: 40px;
    background: #6885AF;
}

.faction-header .faction-name {
    float: left;
    margin: 6px 0 0 10px;
    width: 250px;
    overflow: hidden;
    font-size: 20px;
}

.faction-header .faction-button {
    float: left;
    margin: 6px 0 0 20px;
    padding: 4px 6px;
}

.faction-ships {
    display: flex;
    background: #41729F;
}

.faction-ship {
    float: left;
    width: 100px;
    padding: 5px 2px 5px 3px;
}

.faction-ship-odd-col {
    background: #5885AF;
}

.faction-ship .ship-name {
    margin-bottom: 6px;
}

.faction-ship-prop {
    margin-bottom: 1px;
    margin-left: 4px;
    width: 86px;
    display: flex;
}

.faction-ship-prop-name {
    width: 73px;
}

.faction-ship-prop-value {
    width: 14px;
    text-align: right;
}

