.existing-factions{
    display: block;
}

.faction-wrapper {
    width: 400px;
    margin: 5px;
    display: inline-block;
}

.faction-header {
    height: 40px;
    background: #6885AF;
}

.faction-header .faction-name {
    float: left;
    margin: 6px 0 0 10px;
    width: 250px;
    overflow: hidden;
    font-size: 20px;
}

.faction-header .faction-button {
    float: left;
    margin: 6px 0 0 20px;
    padding: 4px 6px;
}

.faction-ships {
    display: flex;
    background: #41729F;
}

.faction-ship {
    float: left;
    width: 100px;
    padding: 5px 2px 5px 3px;
}

.faction-ship-odd-col {
    background: #5885AF;
}

.faction-ship .ship-name {
    margin-bottom: 6px;
}

.faction-ship-prop {
    margin-bottom: 1px;
    margin-left: 4px;
    width: 86px;
    display: flex;
}

.faction-ship-prop-name {
    width: 73px;
}

.faction-ship-prop-value {
    width: 14px;
    text-align: right;
}

