
.part-selector-wrapper {
    width: 315px;
    display: block;
    float: left;
}

.part-selector-block {
    width: 60px;
    height: 60px;
    margin: 1px;
    float: left;
    background: #38658F;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.part-selector-block i {
    font-size: 36px;
    margin: 12px;
    display: block;
    float: left;
}

.part-selector-block img {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: block;
    float: left;
}

.part-selector-wrapper .part-block {
    margin: 1px;
}

.part-block {
    width: 60px;
    height: 60px;
    float: left;
    background: #38658F;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: white;
}

.part-block-unique {
    background: #3e3e3e;
}

.part-block .part-block-initiative {
    float: right;
    display: block;
    margin: 0 -4px 0 0;
    width: 20px;
    height: 0px;
}

.part-block .part-block-initiative img {
    z-index: 9;
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin: -3px 0px -7px 0px;
}

.part-block .part-block-energy {
    float: right;
    display: block;
    margin: 0;
    width: 60px;
    height: 0;
}

.part-block .part-block-energy div {
    font-size: 14px;
    margin: 44px 2px 0 0;
    float: right;
}

.part-block .part-block-energy img {
    z-index: 9;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 34px -9px 0 0;
    float: right;
}


.part-block-missiles {
    height: 0;
    margin: 0 0 8px 0;
}

.part-block .part-block-missiles img {
    width: 30px;
    height: 30px;
    margin: 0 0 0 13px;
    float: none;
}

.part-block-component {

}

.part-block-components-1 div img {
    width: 50px;
    height: 50px;
    margin: 5px 0 0 5px;
}

.part-block-components-1 .part-block-with-score div {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0 0 5px;
    max-width: 18px;
}

.part-block-components-1 .part-block-with-score img {
    width: 30px;
    height: 30px;
    margin: 14px 0 11px 2px;
}

.part-block-components-1 .part-block-missiles img {
    margin: -5px 0 0 13px;
}

.part-block-components-2 div img {
    width: 25px;
    height: 25px;
    margin: 17px 0 0 2px;
    float: left;
}

.part-block-components-2 .part-block-with-score div  {
    font-size: 17px;
    font-weight: bold;
    margin: 19px 0 0 0px;
    float: left;
}

.part-block-components-2 .part-block-with-score img  {
    width: 20px;
    height: 20px;
    margin: 20px 0 0 -1px;
    float: left;
}

.part-block-components-3 .part-block-component img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 2px 3px 1px 2px;
}

.part-block-components-3 .part-block-missiles {
    height: 25px;
    float: left;
    margin: 0;
}

.part-block-components-3 .part-block-missiles img {
    margin: 0;
}





