.ship-upgrade-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    border: solid;
    margin: 10px;
}

.ship-upgrade-form h2 {
   margin: 5px;
}

.stat-containers-wrapper {
    width: 260px;
    padding: 0 10px;
    padding-bottom: 30px;
}

.stat-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 17px;
}

.stat-row {
    display: flex;
}

.stat-row h4 {
    margin: 5px;
    width: 152px;
}

button {
    padding: 1px 6px;
    font-size: 14px;
}

.stat-row .minus-button {
    position: absolute;
    margin-left: 160px;
    margin-top: 3px;
}

.stat-row .stat-value {
    position: absolute;
    margin-left: 190px;
    margin-top: 3px;
    width: 40px;
    text-align: center;
}

.stat-row .plus-button {
    position: absolute;
    margin-left: 240px;
    margin-top: 3px;
}
